body {

    font-size:12px;
    padding-bottom: 40px;


}
.container-fluid{padding-top: 20px;}

/*Nav bar*/
.navbar .brand {
    display:block;
    float:left;
    font-size:20px;
    font-weight:200;
    padding:10px 20px;
    margin-left:-15px;
}

.navbar .nav > li > a {
    float:none;
    padding:10px 15px;
    text-decoration:none;
    color: #428bca;
}

.navbar-search .search-query {
    border-radius:5px;
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
    .container-fluid{padding-top: 100px;}
    .navbar .brand {margin-left:-90px;}
    .style-switcher{margin-left:-70px;}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
    .container-fluid{padding-top: 100px;}
    .navbar .brand {margin-left:-90px;}
    .style-switcher{margin-left:-70px;}
}

table.detail-view td {font-size:12px;}
h1,h2,h3,h4, .portlet > .portlet-decoration, .sidebar-nav > ul > li > a, .navbar a, th{
    font-family: 'Arial Narrow', sans-serif;
}

.portlet > .portlet-decoration, .sidebar-nav > ul > li > a, .navbar li > a, th{
    font-size:14px!important;
}
/* Start Portlets*/
.portlet{
    -webkit-box-shadow:#F9F9F9 0 1px 0 inset;
    border:1px solid #DDDDDD;
    border-radius:3px;
    box-shadow:#F9F9F9 0 1px 0 inset;
    margin-bottom:20px;
    min-height:40px;

}

.portlet-decoration{
    border-bottom:1px solid #DDD;
    background-color: #F1F1F1;
    background-image: -moz-linear-gradient(top, #F1F1F1, #DBDBDB);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F1F1F1), to(#DBDBDB));
    background-image: -webkit-linear-gradient(top, #F1F1F1, #DBDBDB);
    background-image: -o-linear-gradient(top, #F1F1F1, #DBDBDB);
    background-image: linear-gradient(to bottom, #F1F1F1, #DBDBDB);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffF1F1F1', endColorstr='#ffDBDBDB', GradientType=0);
    padding:10px;
}

.portlet-decoration [class^="icon-"], .portlet-decoration [class*=" icon-"] {

    margin-right:5px;

}
.portlet-content{
    padding: 15px;
    background: solid;
    background-color: #f5f5f5;
}

.form-actions {
    margin: 20px 0 20px 0;

    text-align: left;
    padding:20px;


}

/* end Portlets*/
.navbar {
    margin-bottom:0px;
    overflow:visible;
}

.summary ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.summary ul li {
    height: 52px;
    clear: both;
    margin-bottom: 14px;
}

.summary ul li .summary-icon {
    width: 36px;
    height: 36px;
    float: left;
    margin-right: 10px;
    padding: 6px;
    background: white;
    border: #DDD 1px solid;
    -webkit-box-shadow: inset 0 0 3px #EEE;
    -moz-box-shadow: inset 0 0 3px #eee;
    box-shadow: inset 0 0 3px #EEE;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.summary ul li .summary-number {
    font-size: 20px;
    font-weight: bold;
    display: block;
    padding-top: 8px;
}

.summary ul li .summary-title {
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    color: #AB4000;
}

.stat-block {
    margin-bottom: 20px;
    padding: 10px;
    min-height:40px;
    background: #F1F1F1;
    background: -moz-linear-gradient(top, #F1F1F1 0%, #DBDBDB 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F1F1F1), color-stop(100%, #DBDBDB));
    background: -webkit-linear-gradient(top, #F1F1F1 0%, #DBDBDB 100%);
    background: -o-linear-gradient(top, #F1F1F1 0%, #DBDBDB 100%);
    background: -ms-linear-gradient(top, #F1F1F1 0%, #DBDBDB 100%);
    background: linear-gradient(to bottom, #F1F1F1 0%, #DBDBDB 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#dbdbdb', GradientType=0 );
    border: 1px solid #DDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 #F9F9F9;
    -moz-box-shadow: inset 0 1px 0 #f9f9f9;
    box-shadow: inset 0 1px 0 #F9F9F9;
}

.stat-block ul {
    margin: 0px;
    padding: 0px;
}

.stat-block li {
    list-style: none;
    float: left;
}

.stat-block .stat-graph {
    width: auto;
    background: white;
    padding: 10px 10px 8px 10px;
    border: #D7D7D7 1px solid;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-right: 10px;
}

.stat-block .stat-count {
    width: 90px;
}

.stat-block .stat-count span:last-child {
    color: #666;
    font-size: 12px;
    font-weight: normal;
    padding-top:3px;
}

.stat-block li span {
    display: block;
}

.stat-block .stat-count span:first-child {
    color: #1D2E7B;
    font-weight: bold;
    font-size: 20px;
}

.stat-block .stat-percent {
    width: 40px;
    float: right !important;
    text-align: center !important;
}

.stat-percent{
    font-size: 20px;
    font-weight: bold;
}
/*Navbar*/
.navbar-fixed-top {
    top:0;
    left:0;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
    color: #ffffff;
    text-decoration: none;
    background-color: #428bca;

    /*
    background-image: -moz-linear-gradient(top, #848282, #9e9090);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#848282), to(#9e9090));
    background-image: -webkit-linear-gradient(top, #848282, #9e9090);
    background-image: -o-linear-gradient(top, #848282, #9e9090);
    background-image: linear-gradient(to bottom, #848282, #9e9090);
    */
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#848282', endColorstr='#9e9090', GradientType=0);
}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #428bca;

    /*
    background-image: linear-gradient(to bottom, #848282, #9e9090);
    background-image: -moz-linear-gradient(top, #848282, #9e9090);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#848282), to(#9e9090));
    background-image: -webkit-linear-gradient(top, #848282, #9e9090);
    background-image: -o-linear-gradient(top, #848282, #9e9090);
    */
    background-repeat: repeat-x;
    outline: 0;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#848282', endColorstr='#9e9090', GradientType=0);
}
/*Side Nav*/
.sidebar-nav {
    padding:8px;
    background-color: #f5f5f5;


}

.sidebar-nav ul{
    padding:0;
    margin:0;
}

.sidebar-nav ul li{
    list-style: none;
    width:100%

}

.sidebar-nav ul > li > a, .sidebar-nav ul > li > a:hover, .sidebar-nav ul > li > span {
    padding:4px 15px;
    margin-bottom:2px;
    display:block;
}
/*
.sidebar-nav ul > li > a, .sidebar-nav ul > li > a:hover {

    background-color: #F1F1F1;
    background-image: -moz-linear-gradient(top, #F1F1F1, #DBDBDB);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#DBDBDB), to(#DBDBDB));
    background-image: -webkit-linear-gradient(top, #F1F1F1, #DBDBDB);
    background-image: -o-linear-gradient(top, #F1F1F1, #DBDBDB);
    background-image: linear-gradient(to bottom, #F1F1F1, #DBDBDB);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffF1F1F1', endColorstr='#ffDBDBDB', GradientType=0);

    -webkit-box-shadow:#F9F9F9 0 1px 0 inset;
    border:1px solid #DDDDDD;
    border-radius:3px;
    box-shadow:#F9F9F9 0 1px 0 inset;
    text-decoration:none;


}

*/

.sidebar-nav ul > li > a {

    background-color: #F1F1F1;


    box-shadow:#F9F9F9 0 1px 0 inset;
    text-decoration:none;


}

.sidebar-nav ul > li > a:hover {
    background-color: #FFFFFF;
}
.sidebar-nav  ul > li.active > a, .sidebar-nav ul > li.active > a:hover {

    background-color: #ff0000!important;

    box-shadow:#cccccc 0 1px 0 inset;
    border:1px solid #9e9090;
    color:#F1F1F1;
}

.subnav.navbar-fixed-top {
    top:40px;
    z-index:1;
}
/*Progress bar*/
.progress, .ui-progressbar {
    height:10px;
}

.ui-progressbar {
    border:0;
    border-radius:4px;
    clear: both;
    margin-bottom:20px;
}

.ui-progressbar.ui-widget-content {
    -webkit-box-shadow:rgba(0, 0, 0, 0.0980392) 0 1px 2px inset;
    background-color:#F7F7F7;
    background-image:-webkit-linear-gradient(top, #F5F5F5, #F9F9F9);
    background-repeat:repeat no-repeat;
    box-shadow:rgba(0, 0, 0, 0.0980392) 0 1px 2px inset;
    overflow:hidden;
}

.ui-progressbar .ui-widget-header{
    background-image:-webkit-linear-gradient(top, #149BDF, #0480BE);
    background-repeat:repeat no-repeat;
    box-shadow: none;
    box-sizing:border-box;
    color:#FFFFFF;
    float:left;
    height:100%;
    border:0;/**/
}
.ui-progressbar .ui-progressbar-value {
    margin:0px;
}


.ui-progressbar .ui-widget-header {
    -webkit-box-shadow:rgba(0, 0, 0, 0.14902) 0 -1px 0 inset;
    -webkit-transition:width 0.6s ease;
    background-color:#149BDF;
    background-image:-webkit-linear-gradient(top, #149BDF, #0480BE);
    background-repeat:repeat no-repeat;
    box-shadow:rgba(0, 0, 0, 0.14902) 0 -1px 0 inset;
    box-sizing:border-box;
    color:#FFFFFF;
    float:left;
    font-size:12px;
    height:100%;
    text-align:center;
    text-shadow:rgba(0, 0, 0, 0.247059) 0 -1px 0;
    width:0;
}

.progress-info .ui-widget-header, .progress-info.ui-slider.ui-widget-content  {
    background-color:#4BB1CF !important;
    background-image:-webkit-linear-gradient(top, #5BC0DE, #339BB9);
    background-repeat:repeat no-repeat;;
}

.progress-success .ui-widget-header, .progress-success.ui-slider.ui-widget-content  {
    background-color:#5EB95E  !important;
    background-image:-webkit-linear-gradient(top, #62C462, #57A957);
    background-repeat:repeat no-repeat;
}

.progress-warning .ui-widget-header, .progress-warning.ui-slider.ui-widget-content {
    background-color:#FAA732 !important;
    background-image:-webkit-linear-gradient(top, #FBB450, #F89406);
    background-repeat:repeat no-repeat;
}

.progress-danger .ui-widget-header, .progress-danger.ui-slider.ui-widget-content  {
    background-color:#DD514C !important;
    background-image:-webkit-linear-gradient(top, #EE5F5B, #C43C35);
    background-repeat:repeat no-repeat;
}

.progress-striped .ui-widget-header, .progress-striped.ui-slider.ui-widget-content  {
    -webkit-background-size:40px;
    background-color:#149BDF;
    background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.14902) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.14902) 50%, rgba(255, 255, 255, 0.14902) 75%, transparent 75%, transparent);
    background-repeat:repeat;
}

.active.ui-progressbar .ui-widget-header {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -moz-animation: progress-bar-stripes 2s linear infinite;
    -ms-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}
/*slider*/
.ui-slider{
    margin-bottom:20px;
}

.ui-slider.ui-widget-content{
    -webkit-box-shadow:rgba(0, 0, 0, 0.14902) 0 -1px 0 inset;
    -webkit-transition:width 0.6s ease;
    background-color:#149BDF;
    background-image:-webkit-linear-gradient(top, #149BDF, #0480BE);
    background-repeat:repeat no-repeat;
    box-shadow:rgba(0, 0, 0, 0.14902) 0 -1px 0 inset;
    box-sizing:border-box;
    border:none;
}

/*Table*/
.table > table{
    width:100%;
}

/*CGridview*/
.filters select, .filters input, .filters .uneditable-input {
    border-radius:none;
    font-size:14px;
    /* height:20px; */
    line-height:10px;
    margin-bottom:0;
    padding:4px;
}

/*Pagination*/

.pager{
    margin:20px 0;
}
.pager ul{
    -webkit-box-shadow:rgba(0, 0, 0, 0.0470588) 0 1px 2px;
    border-radius:0px;
    box-shadow:rgba(0, 0, 0, 0.0470588) 0 1px 2px;
    display:inline-block;
    margin-bottom:0;
    margin-left:0;
    text-align:center;
}

.pager a, .pager span{

    border-radius:0px;
    margin-left:3px;
}

.pager ul > li.last > a, .pager ul > li.last > span {
    border-left-radius:4px;
}

.pager ul > li > a, .pager ul > li > span {
    background-color:#FFFFFF!important;
    border-color:#DDDDDD!important;
    border-style:solid;
    border-width:1px 1px 1px 0;
    float:left;
    line-height:20px;
    padding:4px 12px!important;
    text-decoration:none;
}

.pager ul > li.first > a, .pager ul > li.first > span {
    border-bottom-left-radius:4px;
    border-top-left-radius:4px;
}

ul.yiiPager li.hidden{
    display:none!important;	
}

/*CListView*/
.list-view div.view{

    border:solid 1px #DDDDDD;
    padding: 10px;
    margin-bottom:10px;
    -webkit-box-shadow:rgba(0, 0, 0, 0.0470588) 0 1px 1px inset;
    box-shadow:rgba(0, 0, 0, 0.0470588) 0 1px 1px inset;
    border-radius:4px;

}

/*Form*/
.filters input, .filters .uneditable-input {
    width:100% !important;
}

div.form > form  .row {
    margin-left:0px;
}

/*Footer*/
footer {
    text-align:center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #eeeeee;
    linear-gradient(#ffffff, #dddddd);
    padding: 4px;
    color:#777;
}
body {
    position: relative;
    min-height: 89vh;
}

/*Style switcher*/
.style-switcher
{
    padding-top:13px;
}
.style-switcher span.style
{
    width:16px; 
    height:16px; 
    display:block;
    margin-right:5px;
    float:left;
}

/*Button styles*/
.btn-info {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #49afcd;
    *background-color: #2f96b4;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
    background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
    background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
    background-repeat: repeat-x;
    border-color: #2f96b4 #2f96b4 #1f6377;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

/*Gotivac*/

.errorMessage, .errorSummary {
    color: #ff0000;
}

.note {
    font-style:italic;
    opacity:0.5;
}

.sprite, .sprite2 {
    min-width:80px;
    line-height: 30px;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    display: inline-block;
    font-size: 14px;
    padding: 4px 8px;
    text-align:center;
    /*vertical-align:middle;*/
    margin-bottom:9px;
    margin-right:15px;
    box-shadow: 3px 3px 5px #888888;
    font-weight: bold;
    opacity:0.9;
}

.sprite2 {
    line-height:16px !important;

}

body {/*
        background-image:url('img/background.jpg');
        background-repeat:repeat;
    */

}

.dashboard-button
{
    font-size:2.5em;
    color:#002A80;
    border:solid 3px #002A80;
    border-radius:12px;
    margin-bottom:2%;
    padding:5%;
    background: solid ;
    background-color: #66AAFF;
    cursor: pointer;
    text-align:center;
    text-transform: uppercase;
    box-shadow: 10px 10px 5px #888888;
}


.dashboard-button:hover {
    background-color: #FFAA66;
    font-style:none;
}

.bubble {

    line-height: 30px;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    display: inline-block;
    /*font-size: 14px;*/
    padding: 4px 4px;
    /*text-align:center;*/
    /*vertical-align:middle;*/
    margin-bottom:12px;
    margin-right:12px;
    box-shadow: 3px 3px 5px #888888;
    font-weight: bold;
    /*opacity:0.9;*/
}

.close-drop {
    border-radius: 50%;
    behavior: url(PIE.htc);
    vertical-align:top;
    border:solid thin rgb(91, 238, 157); 
    padding:2px;
    background-color:rgb(91, 238, 157);
    color: #ffffff;
    line-height:8px;
    margin-left:-12px;
    margin-top:-2px;

}

label {
    font-size:1.2em;
    font-weight:bold;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: #428bca;
}

.nav-pills > li {
    background-color: #f1f1f1;
    min-width: 100px;
    border-radius: 6px;
    text-align:center;
    border: solid 1px transparent;
}

.nav-pills > li:hover {
    border:solid  1px #000000;
    background-color: #c1c1c1;
}

.buttons {
    margin-top: 20px;
}

.nav > li {
    display:inline-block !important;
}


/* Gotivac */

.navbar-fixed-top {
    background: solid;
    background-color: #eeeeee;
    background-image: linear-gradient(#ffffff, #dddddd);
}

table > tbody > tr > td {
    vertical-align:middle !important;
}

/* OVERWRITES */

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: rgb(255,255,255);
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: rgb(255,255,255);
}

a {
    color: #428bca;

}
a:hover, a:focus {
    color: rgb(0, 0, 0);

}

.container {
    width: 80% !important;
}

.form-actions {
    background-color: #eeeeee;
}

.ct-form-control {
    min-width: 0 !important;
}

form {
    margin-top:20px;
}

.col-md-15 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 992px) {
    .col-md-15 {
        float: left;
        width: 14.285714286%;
    }
}

.term {
    display: block;
    padding: 4px;
    margin-bottom: 5px;
    line-height: 1.42857143;

    border: 1px solid #ddd;
    border-radius: 4px;

}

.term.info {
    background-color:#d9edf7;
}
.term.success {
    background-color:#dff0d8;
}
.term.warning {
    background-color:#fcf8e3;
}

.term.danger {
    background-color:#f2dede;
}
.term.active {
    background-color: #f5f5f5;
}

.border-left {
    border-left: 1px solid #428bca;
}

thead {
    background-color:#f5f5f5;
}

td > .btn {
    border: 1px solid #428bca;


}


td > .btn:hover {
    background-color: #f5f5f5;

}

.location {
    font-size: 160%;
}

.auto-dt {
    cursor: pointer;
}

.breadcrumb {
    font-size: 16px !important;
}

.modal-dialog {
    overflow-y:scroll;
    max-height: 85%;
}

.timeslot {
    
    background-color: #0c5460;
    padding-left:12px;
    
    margin:2px;
    color: #fff;
    font-size:16px;
    font-weight: bold;
    border-radius: 4px;
    
    
}
.timeslot-active {
    color: #C6D880;
}
.timeslot-column {
    padding-top:10px;
    padding-bottom:10px;
}

@font-face {
    font-family: 'DB Office';
    src: url('fonts/DBOffice-Regular.woff2') format('woff2'),
        url('fonts/DBOffice-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}